# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Data / outputs (process mining artifacts)
#*.xes
#*.bpmn

# Logs
#*.log

# LaTeX
*.synctex.gz
*.fdb_latexmk
*.fls
*.aux
*.out
*.log
